.App {

  
}

.mt-20 {
    margin-top: 20px;
}

.career-type-popup .ant-modal-footer {
    display: none;

}

.kep-login-facebook.metro {
    border-radius: 0;
    padding: 10px;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 10px;
}

.ant-modal-title {
    text-align: center;
}

.career-btn {
    text-align: center;
}

.btn-color {
    background: rgba(0, 0, 128, 0);
}

.title-name {
    color: green;
}



// .header {

//     height: 100px;
//     // background-color: #000;
//     display: flex;
//     align-items: center;
//     width: 100%;
//     // border-bottom: 1px solid #ccc;

//     .container {
//         max-width: 1200px;
//         margin: 0 auto;
//         display: flex;
//         justify-content: space-between;
//         width: 100%;
//         align-items: center;

//         h3 {
//             color: #fff;
//             margin: 0;
//         }

//         ul {
//             display: flex;
//             align-items: center;
//             margin: 0;

//             li a {
//                 padding: 0 20px;
//                 font-size: 1.4rem;
//                 color: #000;
//             }
//         }
//     }
// }



.changePass {
    margin-top: 20px;
}


// Custom Tab
.tabPane {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        color: #ccc;
    }
}







// Pagination
.pagination-custom {
    margin: 10px 0 !important;
    text-align: right;
}

// Responsive table
// .ant-table {
//     display: block;

//     @media screen and (max-width: 600px) {
//         &-thead {
//             display: none;
//         }

//         &-thead>tr,
//         &-tbody>tr {

//             th,
//             td {
//                 &:first-of-type {
//                     padding-top: 1rem;
//                 }

//                 &:last-of-type {
//                     padding-bottom: 1rem;
//                 }
//             }

//             >th,
//             >td {
//                 display: block;
//                 width: auto !important;
//                 border: none;
//                 padding: 0 1rem;
//                 font-size: 1.1rem;

//                 &:last-child {
//                     border-bottom: 1px solid #eee;
//                 }
//             }
//         }
//     }
// }