@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@import "./products.scss";
@import "./custom-ant.scss";
@import "./cart.scss";
@import './shipping.scss';
@import "./oder.scss";
@import "./loading.scss";
@import "./header.scss";
@import "./topbar.scss";
@import "./admin.scss";
@import "./sidebar.scss";
@import "./banner.scss";
@import "./productItem.scss";
@import "./product-favorite.scss";
@import "./product-selling.scss";
@import "./slider.scss";
@import './blog.scss';
@import './footer.scss';
@import "./notFound.scss";
@import "./login.scss";
@import "./profile.scss";
@import "./title-custom.scss";
@import "./product-filter.scss";
@import "./contact.scss";
@import "./tutorial.scss";
@import "./create-product.scss";
@import "./sizes.scss";

html {
    // scroll-behavior: smooth;
    font-size: 62.5%; // 1rem = 10px
    transition: 0.5s !important;
}

* {
    margin: 0;
    padding: 0;
    // transition: 0.5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif !important;
}

*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
    margin: 0 !important;
}

img {
    // display: block;
    // max-width: 100%;
    width: 100%;
    height: 100%;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.title-screen {
    // padding: 1rem 0;
    padding-bottom: 1rem;
    margin-bottom: 0;

}

.title-section {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}


.title-page {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f2ee;
}

.inputCustom {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    font-size: 1.3rem;
}

.btn-add {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: transparent;
    border: 1px solid #ccc;
}

.btn-removes {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: transparent;
    border: 1px solid #ccc;
    // color: #aaa;
    margin: 1rem 0;

    .icon-deleteAll {
        margin-right: 8px;
    }
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    padding: 10px 20px;
    border-radius: 30px;
    color: #2C2E2F;
    border: none;
    background: #fff;
}

.view-more {
    display: flex;
    @include btn();
    margin: 0px auto;
    margin-top: 10px;
    color: #fff;
    background: #2C2E2F;
    border: 1px solid transparent;
    transition: 0.5s;

    &:hover {
        background: transparent;
        color: #2C2E2F;
        border: 1px solid #2C2E2F;
    }
}

.btn-Style {
    @include btn();
    margin: 0px auto;
    margin-top: 10px;
    color: #fff;
    background: #2C2E2F;
    border: 1px solid transparent;
    transition: 0.5s;
    font-size: 1.4rem;

    &:hover {
        background: transparent;
        color: #2C2E2F;
        border: 1px solid #2C2E2F;
    }

    &:hover a {
        color: #2C2E2F !important;
    }
}



.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

// custom center

.ql-indent-6 {
    text-align: center !important;
}

.product-footer {
    .ant-tabs-tabpane {
        h4 {
            span {
                p {

                    img {}
                }
            }

        }
    }
}


.container {
    max-width: 1200px !important;
    margin: 0 auto;
}

.row {
    display: flex !important;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mt-2 {
    margin-top: 2rem;
}

.paypal-button {
    width: 100% !important;
}